include "./generic/input.kdl"
include "./generic/autostart.kdl"
include "./generic/layout.kdl"
include "./generic/rules.kdl"
include "./generic/binds.kdl"
include "./generic/environment.kdl"

include "./tigerlake/input.kdl"
include "./tigerlake/outputs.kdl"
include "./tigerlake/autostart.kdl"
include "./tigerlake/layout.kdl"
include "./tigerlake/binds.kdl"
include "./tigerlake/environment.kdl"

clipboard {
    disable-primary
}

debug {
    render-drm-device "/dev/dri/card0"
    enable-overlay-planes
    disable-direct-scanout
}

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 10000
}