binds {
	Mod+P { spawn-sh "/home/gidrex/flake-rei/scripts/power-menu.sh"; }
    Mod+D { spawn "wofi" "--config /home/gidrex/flake-rei/dotfiles/wofi/config" "--style /home/gidrex/flake-rei/dotfiles/wofi/style.css" "--show drun"; }

    XF86AudioRaiseVolume        allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume        allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute               allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute            allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioNext               allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause              allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay               allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev               allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86MonBrightnessUp         allow-when-locked=true { spawn-sh "brightnessctl set +5%"; }
    XF86MonBrightnessDown       allow-when-locked=true { spawn-sh "brightnessctl set 5%-"; }

    // Default layout
    Mod+W { set-column-width "25%"; }
    Mod+A { set-column-width "50%"; }
    Mod+G { set-column-width "75%"; }
    Mod+F { set-column-width "100%"; }

}
