environment {
    XCURSOR_THEME "capitaine-cursors"
    XCURSOR_SIZE "24"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_STYLE_OVERRIDE "kvantum"
    CLUTTER_BACKEND "wayland"
    GDK_BACKEND "wayland,x11,*"
    GDK_DPI_SCALE "1"
    GDK_SCALE "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "gtk3"
    SDL_VIDEODRIVER "wayland"
    GSK_RENDERER "ngl"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    WLR_NO_HARDWARE_CURSORS "1"
    DMS_DISABLE_MATUGEN "1"
    // Force vaapi backend to prevent using the dGPU
    QT_MEDIA_BACKEND "ffmpeg"
    QT_FFMPEG_DECODING_HW_DEVICE_TYPES "vaapi"
    QT_FFMPEG_ENCODING_HW_DEVICE_TYPES "vaapi"
    GTK_CSD "0"
}

