input {
	keyboard {
		xkb {
			file "/home/gidrex/flake-rei/dotfiles/niri/tigerlake/keymap.xkb"
		}
	}
	touchpad {
        natural-scroll
        tap
        tap-button-map "left-right-middle"
        accel-speed 0
        accel-profile "adaptive"
        scroll-method "two-finger"
	}
}

cursor {
	xcursor-theme "Afterglow-cursors"
    xcursor-size 24
}
