input {
	keyboard {
		xkb {
			file "/home/gidrex/flake-rei/dotfiles/niri/tigerlake/keymap.xkb"
		}
	}
	touchpad {
        natural-scroll
	}
}

cursor {
	xcursor-theme "Afterglow-cursors"
    xcursor-size 24
}
