layout {
    default-column-width { proportion 0.5; }
    gaps 3
}

workspace "1" { open-on-output "DP-2"; }
workspace "2" { open-on-output "DP-2"; }
workspace "3" { open-on-output "DP-2"; }
workspace "4" { open-on-output "DP-2"; }
workspace "5" { open-on-output "DP-2"; }
workspace "6" { open-on-output "DP-2"; }