output "DP-2" {
    mode "3440x1440@180.000"
    scale 1.3
    transform "normal"
    position x=0 y=0
    background-color "#00000000"
    variable-refresh-rate on-demand=true
}

output "eDP-1" {
    off
}

output "HDMI-A-1" {
    mode "1024x600@59.821"
    scale 1.0
    position x=5000 y=5000
    transform "normal"
}
