layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

window-rule {
    open-on-output "DP-2"
    match app-id=r#".*ayugram.*"#
    match app-id=r#".*telegram.*"#
    match app-id="blueberry.py"
    match app-id="MAX"
    default-column-width { proportion 0.25; }
}

window-rule {
    open-on-output "DP-2"
    match app-id="goofcord"
    match app-id="equibop"
    match app-id=r#"(?i)steam"#
    match app-id="foot"
    match app-id="com.mitchellh.ghostty"
    match app-id="ONLYOFFICE"
    match app-id="clash-verge"
    match app-id="^mpv$"
    match app-id="chrome-.*"
    match app-id=r#".*libreoffice.*"#
    default-column-width { proportion 0.75; }
}

window-rule {
    open-on-output "HDMI-A-1"
    match app-id="foot-mini"
    default-column-width { proportion 1.0; }
    open-fullscreen true
}
