keybinds {
  normal {
    "Ctrl+Shift+Up" {
      run "scroll up"
    }
    "Ctrl+Shift+Down" {
      run "scroll down"
    }
    "Ctrl+Shift+PageUp" {
      run "scroll up page"
    }
    "Ctrl+Shift+PageDown" {
      run "scroll down page"
    }
  }
}
