binds {
    Mod+D { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+P { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Mod+Shift+D { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Mod+I { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+V { spawn-sh "cliphist list | wofi --conf /home/gidrex/flake-rei/dotfiles/wofi/icelake_config --style /home/gidrex/flake-rei/dotfiles/wofi/style.css -S dmenu | cliphist decode | wl-copy -n"; }

    XF86AudioRaiseVolume   allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume   allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute          allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext          allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev          allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay          allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause         allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86MonBrightnessUp    allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown  allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

    // Default layout
    Mod+A { set-column-width "45%"; }
    Mod+G { set-column-width "90%"; }
    Mod+F { set-column-width "100%"; }
}
