input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle,caps:escape"
            rules "evdev"
            model "pc105"
        }
    }
    touchpad {
        dwt
        tap
        tap-button-map "left-right-middle"
        accel-speed 0
        accel-profile "adaptive"
        scroll-method "two-finger"
    }
}
