layout {
    default-column-width { proportion 0.9; }
    gaps 1

    struts {
        left 2
        right 2
        top 2
        bottom 0
    }
}

workspace "1" { open-on-output "eDP-1"; }
workspace "2" { open-on-output "eDP-1"; }
workspace "3" { open-on-output "eDP-1"; }
workspace "4" { open-on-output "eDP-1"; }
workspace "5" { open-on-output "eDP-1"; }
workspace "6" { open-on-output "eDP-1"; }