/* Catppuccin Mocha Colors */
@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

/* Dark -> Lighter */
@define-color crust #11111b;
@define-color mantle #181825;
@define-color base #1e1e2e;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 0.79rem;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(49, 50, 68, 0.5);
  color: @text;
}

tooltip {
  border-radius: 1rem;
  background-color: @surface0;
}

#clock,
#battery,
#pulseaudio,
#workspaces,
#language,
#tray {
  background-color: @surface0;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
}

#battery {
  /* border-radius: 1rem 0 0 1rem; */
  color: @green;
}

#clock.date,
#clock {
  color: @blue;
  border-radius: 0 1rem 1rem 0;
}

#clock.date {
  border-radius: 0;
  color: @blue;
}

#workspaces {
  border-radius: 1rem 0 0 1rem;
  color: @lavender;
}

#workspaces button.active {
  background-color: @surface1;
  border: 0.14rem solid @lavender;
  box-shadow: 0 0 0.2rem @lavender;
  font-weight: bold;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  border-radius: 0.3rem;
}

#workspaces button:hover {
  background-color: @lavender;
  border-radius: 1rem;
}

#language {
  color: @lavender;
  border-radius: 0 1rem 1rem 0;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
}

#pulseaudio {
  border-radius: 1rem 0 0 1rem;
}

/* #tray { */
/* border-radius: 0 1rem 1rem 0; */
/* } */

#pulseaudio.speaker {
  color: @teal;
}

#pulseaudio.speaker.sink-muted {
  color: @red;
}

#pulseaudio.source {
  color: @teal;
}

#pulseaudio.source.source-muted {
  color: @red;
}