* {
  font-family: "SauceCodePro Nerd Font";
  box-shadow: none;
  background-image: none;
}

window {
  /*opacity: 0.7;*/
  background: none;
}

button {
  color: @foreground;
  font-size: 22px;

  margin: 120px 0px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;

  background-color: @color1;
  opacity: 0.8;
  border: none;
  border-radius: 0px;
  transition: 0.15s ease-in-out all;
}

button:focus {
  background-size: 25%;
  background-color: @color3;
}

button:hover {
  background-size: 35%;
  background-color: @color3;
  margin: 75px 0px;
  border-radius: 50px;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}